@charset "utf-8";
*{
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
    -ms-overflow-style: none;
}
body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
ul,dl,dt,dd {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
.cf:after {
    content: "";
    display: block;
    clear: both;
}
/*
::-webkit-scrollbar { 
    display: none;
}
*/
/*for IE 9/10*/
img{
    border: 0;
}