@charset "utf-8";
body{
/*    min-height: 1000px;*/
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    line-height: 100vh;
    text-align: center;
    position: fixed;
    top: 0;
    
    font-family: "NotoSans",sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 0;
    background-color: #1c2e5f;
}
input, textarea{
    font-family: "NotoSans",sans-serif;
    font-weight: 400;
    font-style: italic;
}
input:focus, textarea:focus{
    outline: none;
}
.content_wrap h1,.content_wrap h2,.content_wrap h3,.content_wrap h4,.content_wrap h5,.content_wrap h6,.content_wrap p,.content_wrap div,.content_wrap span{
    cursor: inherit;
}

.content_wrap{
    width: 90vw;
    height: 70vw;
    line-height: normal;
    cursor: default;
    top: 50%;
    margin-top: -35vw;
    left: 50%;
    margin-left: -45vw;
    z-index: 1;
    position: absolute;
    
}
.section_title{
    color: #fff;
    font-size: 4vw;
    line-height: 8vw;
}
#wrap .is_portrait{
    display: none;
}
#header{
    height: 100%;
    line-height: 100vh;
    text-align: center;
    bottom: -100vh;
    right: 0;
    z-index: 49;
    position: fixed;
}
.gnb{
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}
.gnb h1{
    width: 10vw;
    height: 10vw;
    cursor: pointer;
    display: inline-block;
    background: url(../images/icon_button_top.png) no-repeat;
    background-size: 100%;
}
.gnb ul{
    width: 10vw;
    line-height: 10vw;
}
.gnb ul li{
    margin-top: 2vw;
}
.gnb ul li a{
    font-size: 2vw;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    
    writing-mode: vertical-rl;
    -ms-writing-mode:tb-rl;
}
.gnb ul li.fullpage_selected a{
    border-left: 1px solid #fff;
}

#button_gnb{
    width: 8vh;
    height: 8vh;
    
    cursor: pointer;
    background: url(../images/icon_button_top.png) no-repeat;
    background-size: 100%;
    
    position: absolute;
    bottom: 8vw;
    right: 50%;
    margin-right: -8vw;
    z-index: 49;
}

#footer{
    width: 100%;
    font-size: 2vw;
    line-height: 4vw;
    font-weight: 200;
    text-align: center;
    display: block;
    color: #fff;
    position: absolute;
    z-index: 50;
    bottom: 0;
    background: rgba(0,0,0,0.3);
}

/* width */
::-webkit-scrollbar {
    width: 1.5vw;
}

/* Track */
::-webkit-scrollbar-track {
    background: none; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/* for IOS */
textarea,
input{
    -webkit-appearance: none;
    border-radius: 0;
    overflow: auto;
}
/*
.scaling{
    -webkit-animation: scaling 1.6s infinite linear;
            animation: scaling 1.6s infinite linear;
}


@-webkit-keyframes scaling {
    0%   {-webkit-transform: scale(0,0);}
    50%  {-webkit-transform: scale(1,1);}
    100% {-webkit-transform: scale(0,0);}
}

@keyframes scaling {
    0%   {-ms-transform: scale(0,0);}
    50%  {-ms-transform: scale(1,1);}
    100% {-ms-transform: scale(0,0);}

    0%   {transform: scale(0,0);}
    50%  {transform: scale(1,1);}
    100% {transform: scale(0,0);}
}

.rotate {
    -webkit-animation: rotation 1.6s infinite linear;
            animation: rotation 1.6s infinite linear;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

@keyframes rotation {
    from {-ms-transform: rotate(0deg);}
    to   {-ms-transform: rotate(359deg);}

    from {transform: rotate(0deg);}
    to   {transform: rotate(359deg);}
}
*/
