@charset "utf-8";
:root{
    --content_wrap_width: 80vw;
    --content_wrap_height: 70vw;
    --content_wrap_margin_top: -35vw;
    --content_wrap_margin_left: -40vw;
    
    --header_height: 100vh;
    --header_bottom: -100vh;
    
    --1_5: 1.5vw;
    --2: 2vw;
    --4: 4vw;
    --8: 8vw;
    --10: 10vw;
}
body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    text-align: center;
    
    font-family: "NotoSans",sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 0;
    background-color: #1c2e5f;
}
.content_wrap h1,.content_wrap h2,.content_wrap h3,.content_wrap h4,.content_wrap h5,.content_wrap h6,.content_wrap p,.content_wrap div,.content_wrap span{
    cursor: inherit;
}

.content_wrap{
    width: var(--content_wrap_width);
    height: var(--content_wrap_height);
    line-height: normal;
    cursor: default;
    top: 50%;
    margin-top: var(--content_wrap_margin_top);
    left: 50%;
    margin-left: var(--content_wrap_margin_left);
    z-index: 1;
    position: absolute;
    
}
.section_title{
    color: #fff;
    font-size: var(--4);
    line-height: var(--8);
}

#header{
    width: var(--10);
    height: var(--header_height);
    line-height: var(--header_height);
    bottom: var(--header_bottom);
    right: 0;
    z-index: 100;
    position: fixed;
}
.gnb{
    display: inline-block;
    vertical-align: middle;
}
.gnb h1{
    width: var(--10);
    height: var(--10);
    cursor: pointer;
    background: url(../images/icon_button_top.png) no-repeat;
    background-size: 100%;
}
.gnb ul{
    width: var(--10);
    line-height: var(--10);
}
.gnb ul li{
    margin-top: var(--2);
}
.gnb ul li a{
    font-size: var(--2);
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    
    writing-mode: vertical-rl;
    -ms-writing-mode:tb-rl;
}
.gnb ul li.fullpage_selected a{
    border-left: 1px solid #fff;
}

/* width */
::-webkit-scrollbar {
    width: var(--1_5);
}

/* Track */
::-webkit-scrollbar-track {
    background: none; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
