@charset "utf-8";

#section_00{
    width: 100%;
    height: 100%;
}
#section_00 .button_enter{
    color: #fff;
    font-size: 4vw;
    cursor: pointer;
    top: 0;
    left: 0;
    z-index: 102;
    position: fixed;
}
#section_01{
    position: relative;
}
#section_01 .content_wrap{
    top: auto;
    margin-top: 0;
    bottom: 0;
}
#section_01 .section_title{
    width: 100%;
    line-height: 15vw;
    bottom: 0;
    left: 0;
    position: absolute;
    text-shadow: 1vw 1vw 1vw rgba(0,0,0,0.5);
}
#section_01 .icon_rocket{
    width: 36vw;
    height: 75vw;
    overflow: hidden;
    
    bottom: 15vw;
    left: 50%;
    margin-left: -18vw;
    z-index: 1;
    position: absolute;
}
#section_01 .fullpage_scroll_wrap{
    position: relative;
}
#section_01 .icon_rocekt_place{
    width: 36vw;
    height: 75vw;
    background: url(../images/icon_rocket_place.png) no-repeat;
    background-size: 100%;
    
    bottom: 15vw;
    left: 50%;
    margin-left: -18vw;
    z-index: 10;
    position: absolute;
}
#section_01 .icon_rocket img{
    height: 100%;
    display: block;
}
#section_01 .icon_rocket img.on{
    display: none;
}
#section_01 .icon_effect{
    width: 46vw;
    height: 20vw;
    background: url(../images/icon_effect.png) no-repeat;
    background-size: 100%;
    opacity: 0;
    
    bottom: 15vw;
    left: 50%;
    margin-left: -23vw;
    z-index: 2;
    position: absolute;
}

#section_02{
}
#section_02 .tag_list{
    width: 25vw;
    display: inline-block;
    vertical-align: middle;
}
#section_02 .tag_list li{
    line-height: normal;
    text-align: left;
    margin: 2vw 0;
}
#section_02 .tag_list li div{
    padding: 1vw;
    font-size: 2.5vw;
    line-height: normal;
    display: inline-block;
    color: #fff;
    background-color: #002157;
}
#section_02 .tag_list li .highlight{
    color: #0076a3;
}
#section_02 .button{
    width: 55vw;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
#section_02 .button .background,
#section_02 .button .background:after{
    content: "";
    display: block;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    background-color: #32004b;
    
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}
#section_02 .button .background:after{
    width: 30vw;
    height: 30vw;
    background-color: #440e62;
}
#section_02 .button .button_profile{
    width: 30vw;
    height: 45vw;
    overflow: hidden;
    cursor: pointer;
    
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}
#section_02 .button .button_profile:hover .off{
    display: none;
}
#section_02 .button .button_profile:hover .on{
    display: block;
}
#section_02 .button .button_profile img{
    height: 100%;
    display: block;
}
#section_02 .button .button_profile img.on{
    display: block;
}


#section_03{
}
#section_03 .subject_wrap{
    margin: 4vw 2vw;
    text-align: left;
}
#section_03 .subject_wrap div{
    width: 3vw;
    height: 3vw;
    margin: 0 2vw;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #fff;
}
#section_03 .subject_wrap p{
    font-size: 2vw;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}
#section_03 .subject_wrap .color_box_01{
    background-color: #440e62;
}
#section_03 .subject_wrap .color_box_02{
    background-color: #0d004c;
}
#section_03 .subject_wrap .color_box_03{
    background-color: #003663;
}
#section_03 ul{
    height: 18vw;
}

#section_03 ul li{
    width: 12vw;
    height: 16vw;
    display: inline-block;
    vertical-align: middle;
}
#section_03 ul li p{
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}
#section_03 ul li div{
    width: 11vw;
    height: 11vw;
    padding: 1vw;
    line-height: 11vw;
    display: inline-block;
    font-size: 2vw;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
}
#section_03 .level_list{
    width: 100%;
    height: auto;
    text-align: center;
    margin: 2vw 0 1vw 0;
}
#section_03 .level_list li{
    width: 2vw;
    height: 2vw;
    padding: 0;
    margin: 0 1vw;
    transform: rotate(45deg);
    opacity: 0.3;
    background-color: #9e005d;
    border: 0;
}
#section_03 .level_list li.active{
    opacity: 1;
}
#section_03 .language_list{
    width: 80vw;
}
#section_03 .platform_list{
    width: 48vw;
    display: inline-block;
    vertical-align: middle;
}
#section_03 .tool_list{
    width: 32vw;
    display: inline-block;
    vertical-align: middle;
}
#section_03 .platform_list li div, #section_03 .tool_list li div{
    border-radius: 0;
}

#section_04{}
#section_04 .work_wrap{
    width: 100%;
    height: 60vw;
}
#section_04 .button_wrap{
    width: 100%;
    height: 4vw;
    line-height: 4vw;
    text-align: right;
}
#section_04 .button_wrap ul{
    display: inline-block;
}
#section_04 .button_wrap li, #section_04 .button_wrap span{
    font-size: 2vw;
    margin: 0 1vw;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}
#section_04 .button_wrap li.unselected div{
    background:none;
}
#section_04 .button_wrap li div{
    width: 1vw;
    height: 1vw;
    margin: 0 0.5vw;
    display: inline-block;
    vertical-align: middle;
    transform: rotate(45deg);
    border: 1px solid #fff;
    background-color: #9e005d;
}


#section_05{
    position: relative;
}
#section_05 video_wrap{
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
}
#section_05 video{
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;

    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#section_05 .content_wrap{
    line-height: 70vw;
}
#section_05 .text_wrap{
    width: 70vw;
    height: 60vw;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3vw;
    background-color: rgba(0,33,87,0.5);
    position: relative;
}
#section_05 form {
    padding: 0 4vw;
}
#section_05 form p{
    text-align: left;
    color: #fff;
    font-size: 2.5vw;
    line-height: 4vw;
    margin: 2vw 0;
}
/*
#section_05 form input[name=comment] {
    height: 10vw;
    counter-reset: line;
}
*/
#section_05 form textarea, #section_05 form input{
    font-size: 2vw;
    line-height: 2.5vw;
    font-family: "NotoSans", sans-serif;
    font-weight: 200;
    color: #fff;
    width: 100%;
    background: none;
    border: 0;
    border-bottom: 1px solid #fff;
}
#section_05 form textarea:focus, #section_05 form input:focus{
    outline: none;
}
#section_05 form input[type=submit] {
    width: 26vw;
    padding: 1.5vw;
    font-size: 2.5vw;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    background-color: #002157;
    border: 0;
    
    bottom: 2vw;
    left: 50%;
    margin-left: -13vw;
    
    position: absolute;
}

@media (min-width:1000px) and (min-height: 800px) {
    #section_01 .section_title{
        line-height: 150px;
        text-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    }
    #section_01 .icon_rocket{
        width: 360px;
        height: 750px;

        bottom: 150px;
        margin-left: -180px;
    }
    #section_01 .icon_rocekt_place{
        width: 360px;
        height: 750px;

        bottom: 150px;
        margin-left: -180px;
    }
    #section_01 .icon_effect{
        width: 460px;
        height: 200px;

        bottom: 150px;
        margin-left: -230px;
    }
    #section_02 .tag_list{
        width: 250px;
    }
    #section_02 .tag_list li{
        margin: 20px 0;
    }
    #section_02 .tag_list li div{
        padding: 10px;
        font-size: 25px;
    }
    #section_02 .button{
        width: 550px;
    }
    #section_02 .button .background,
    #section_02 .button .background:after{
        width: 400px;
        height: 400px;
    }
    #section_02 .button .background:after{
        width: 300px;
        height: 300px;
    }
    #section_02 .button .button_profile{
        width: 300px;
        height: 450px;
    }

    #section_03{
    }
    #section_03 .subject_wrap{
        margin: 40px 20px;
    }
    #section_03 .subject_wrap div{
        width: 30px;
        height: 30px;
        margin: 0 20px;
    }
    #section_03 ul{
        height: 180px;
    }
    #section_03 ul li{
        width: 120px;
        height: 160px;
    }
    #section_03 .subject_wrap p{
        font-size: 20px;
    }
    #section_03 ul li div{
        width: 110px;
        height: 110px;
        padding: 10px;
        line-height: 110px;
        font-size: 20px;
    }
    #section_03 .level_list{
        margin: 20px 0 10px 0;
    }
    #section_03 .level_list li{
        width: 20px;
        height: 20px;
        margin: 0 10px;
    }
    #section_03 .language_list{
        width: 800px;
    }
    #section_03 .platform_list{
        width: 480px;
    }
    #section_03 .tool_list{
        width: 320px;
    }
    
    
    #section_04 .work_wrap{
        height: 600px;
    }
    #section_04 .button_wrap{
        height: 40px;
        line-height: 40px;
    }
    #section_04 .button_wrap li{
        font-size: 20px;
        margin: 0 10px;
    }
    #section_04 .button_wrap li div{
        width: 10px;
        height: 10px;
        margin: 0 5px;
    }

    
    #section_05 .content_wrap{
        line-height: 700px;
    }
    #section_05 .text_wrap{
        width: 700px;
        height: 600px;
        border-radius: 30px;
    }
    #section_05 form {
        padding: 0 40px;
    }
    #section_05 form p{
        font-size: 25px;
        line-height: 40px;
        margin: 20px 0;
    }
    #section_05 form textarea, #section_05 form input{
        font-size: 20px;
        line-height: 25px;
    }
    #section_05 form input[type=submit] {
        width: 260px;
        padding: 15px;
        font-size: 25px;

        bottom: 20px;
        margin-left: -130px;
    }
}
@media (max-height: 800px) and (min-aspect-ratio:10/8) {
    #section_01 .section_title{
        line-height: 18.75vh;
        text-shadow: 1.25vh 1.25vh 1.25vh rgba(0,0,0,0.5);
    }
    #section_01 .icon_rocket{
        width: 45vh;
        height: 93.75vh;

        bottom: 18.75vh;
        margin-left: -22.5vh;
    }
    #section_01 .icon_rocekt_place{
        width: 45vh;
        height: 93.75vh;

        bottom: 18.75vh;
        margin-left: -22.5vh;
    }
    #section_01 .icon_effect{
        width: 57.5vh;
        height: 25vh;

        bottom: 18.75vh;
        margin-left: -28.75vh;
    }

    #section_02 .tag_list{
        width: 31.25vh;
    }
    #section_02 .tag_list li{
        margin: 2.5vh 0;
    }
    #section_02 .tag_list li div{
        padding: 1.25vh;
        font-size: 3.125vh;
    }
    #section_02 .button{
        width: 68.75vh;
    }
    #section_02 .button .background,
    #section_02 .button .background:after{
        width: 50vh;
        height: 50vh;
    }
    #section_02 .button .background:after{
        width: 37.5vh;
        height: 37.5vh;
    }
    #section_02 .button .button_profile{
        width: 37.5vh;
        height: 56.25vh;
    }

    #section_03{
    }
    #section_03 .subject_wrap{
        margin: 5vh 2.5vh;
    }
    #section_03 .subject_wrap div{
        width: 3.75vh;
        height: 3.75vh;
        margin: 0 2.5vh;
    }
    #section_03 ul{
        height: 22.5vh;
    }
    #section_03 ul li{
        width: 15vh;
        height: 20vh;
    }
    #section_03 .subject_wrap p{
        font-size: 2.5vh;
    }
    #section_03 ul li div{
        width: 13.75vh;
        height: 13.75vh;
        padding: 1.25vh;
        line-height: 13.75vh;
        font-size: 2.5vh;
    }
    #section_03 .level_list{
        margin: 2.5vh 0 1.25vh 0;
    }
    #section_03 .level_list li{
        width: 2.5vh;
        height: 2.5vh;
        margin: 0 1.25vh;
    }
    #section_03 .language_list{
        width: 100vh;
    }
    #section_03 .platform_list{
        width: 60vh;
    }
    #section_03 .tool_list{
        width: 40vh;
    }
    
    
    #section_04 .work_wrap{
        height: 75vh;
    }
    #section_04 .button_wrap{
        height: 5vh;
        line-height: 5vh;
    }
    #section_04 .button_wrap li{
        font-size: 2.5vh;
        margin: 0 1.25vh;
    }
    #section_04 .button_wrap li div{
        width: 1.25vh;
        height: 1.25vh;
        margin: 0 0.625vh;
    }

    
    #section_05 .content_wrap{
        line-height: 87.5vh;
    }
    #section_05 .text_wrap{
        width: 87.5vh;
        height: 75vh;
        border-radius: 3.75vh;
    }
    #section_05 form {
        padding: 0 5vh;
    }
    #section_05 form p{
        font-size: 3.125vh;
        line-height: 5vh;
        margin: 2.5vh 0;
    }
    #section_05 form textarea, #section_05 form input{
        font-size: 2.5vh;
        line-height: 3.125vh;
    }
    #section_05 form input[type=submit] {
        width: 32.5vh;
        padding: 1.875vh;
        font-size: 3.125vh;

        bottom: 2.5vh;
        margin-left: -16.25vh;
    }
}